<nav class= "navbar navbar-default" style="background-color: whitesmoke;">
    <div class="container-fluid">
        <h2>{{titre}} <span class="material-icons" id="hot">hotel_race</span></h2>
        <ul class="nav navbar-nav">
            
            <li routerLinkActive="active" ><a  routerLink="home" class="ui bg-primary" style="color: blanchedalmond;"><span class="material-icons " id="home">home_race</span>Home</a></li>
            <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a routerLink="listchambre">Liste des chambres</a></li>
            <li routerLinkActive="active"><a [routerLink] ="['listuser']">liste des clients</a></li> 
            <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a [routerLink] ="['hotels','0','edit']">Ajouter une chambre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" ><a routerLink="signIn" class="ui bg-primary" style="color:blanchedalmond;"><span class="material-icons " id="login">login_race</span>Login</a></li>
            <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}" ><a routerLink="home" class="ui bg-primary" style="color:blanchedalmond;"><span class="material-icons " id="logout">logout_race</span>Logout</a></li>
            <li routerLinkActive="active" ><a routerLink="signup" class="ui bg-primary" style="color:blanchedalmond;"><span class="material-icons" id="save">save_race</span>Save</a></li>
        </ul>
    </div>
</nav>
