nav{
    border-radius:0%;
    border-bottom:  rgba(245, 245, 245, 0.642);
    position: fixed;
    width: 100%;
    height: 18%;
    z-index:2;
}
a{
    text-decoration: none;
    border-radius: 20px;
    padding: 7px;
}

#home,#login,#logout,#save,#hot{
    width: 30px;
    color:blanchedalmond; 
}
h2{
    color: blanchedalmond;
    font-size: 30px;
    margin-left: 45%;
}

.ui,#hot{
    height: 50px;
}






