<nav class= "navbar navbar-default" style="background-color:  rgba(0, 0, 0, 0.5);">
    <div class="container-fluid" style= "margin-top:20%;">
        <div class="n-6">
        <div class="col-lg-1">
            <span class="material-icons">star_race</span>
            <span class="material-icons">star_race</span>
             
        </div>
        <div class="col-lg-1" style="margin-top: 10%;">
            <span class="material-icons" >star_race</span>
        </div>
        <div class="col-lg-1">
            <span class="material-icons">star_race</span>
            <span class="material-icons">star_race</span>
        </div>
    </div>
    <ul class="nav navbar-nav"style="margin-top:6%;">
        <h1>Dashboard</h1>
        <li routerLinkActive="active"><a [routerLink]="['listfournisseur']">list des fournisseurs</a></li>
        <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a [routerLink] ="['fournisseur','0','edit']">Ajouter un fournisseur</a></li>
        <li routerLinkActive="active"><a [routerLink] ="['listproduit']">liste des produits</a></li> 
        <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a [routerLink] ="['produit','0','edit']">Ajouter un produit </a></li>
    </ul>
</div>
</nav>
