nav{
   
    border-radius: 0%;
    border: none;
    position: fixed;
    width: 13%;
    height: 82%;
    margin-top: 9%;
    z-index:2;
}
a{
    font: bold;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;

     
}
h1,span{
    color:blanchedalmond;
}
